@import url();

:root{ 
    --azul-uraniano: #add7f6ff;
    --azul-jordan: #87bfffff;
    --azul-marinho: #3f8efcff;
    --azul-neon: #2667ffff;
    --azul-escuro: #3b28ccff;
}

body{
    background-color: var(--azul-uraniano);
    font-family: var(--texto);
    margin: 0;
}

header{
    background-color: var(--azul-jordan);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
}

.img-logo{
    width: 10%;
    border-radius: 100%;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: var(--titulo);
    text-transform: uppercase;
}

.menu a{
    text-decoration: none;
    color: var(--azul-marinho);
}

.menu a:hover{
    color: var(--azul-uraniano);
    transition: 0.5s;
}

.capa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

 .capa.img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
 }

 .apresentacao{
    font-family: var(--titulo);
    text-align: center;
    margin: 40px 0;
 }

.apresentacao h2{
    color: var(--azul-neon);
    font-size: 50px;
}

.apresentacao p{
    color: var(--azul-neon);
    font-size: 25px;
    font-family: var(--texto);
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.sobre div{
    width: 50%;
    text-align: center;
}

.sobre-img img{
    width: 50%;
    border-radius: 0px 20px 0 20px;
    box-shadow: 3px 3px 10px #130f21;
}

.sobre h2{
    font-family: var(titulo);
    font-size: 40px;
    color: var(--azul-escuro);
    margin-bottom: 15px;
}

.sobre p{
    font-size: 24px;
    color: var(--azul-marinho);
}

footer{
    background-color: var(--azul-neon);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul-marinho);
    font-size: 18px;
}

/*produtos*/

.produtos{
    padding: 40px 0;
    text-align: center;
}

.produtos h2{
    font-family: var(--titulo);
    font-family: 40px;
    color: var(--aquamarine);
    margin: 40px 0;

}
 .lista-produtos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
 }

 .produtos img{
    width: 100%;
    border-radius: 10px;
 }